version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "friday"
      time: "04:00"
    groups:
      dev-dependencies:
        patterns:
          - "*"
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"
      production-dependencies:
        patterns:
          - "*"
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
    commit-message:
      prefix: "chore(deps)"
      prefix-development: "chore(deps-dev)"
    ignore:
      - dependency-name: "@types/node"
        update-types: ["version-update:semver-major"]
    open-pull-requests-limit: 10
